.backgroundImage{
    background-image: url('../assets/topbannr.png');
    background-repeat:no-repeat ;
    /* object-fit: contain; */
    height: 120vh;
    top: 56px; ;
    width:93%;
    position: absolute;
    right: 2px;
    background-size: cover;
    background-position: center;
    
    
    /* overflow-x: hidden; */
    
    
}
.search_box{
    width: 50%;
    height: 40px;
    margin: 20px  ;
    position: relative;
    right: 150px;
    background: none;
    border-radius: 25px;
    border-color: white;
    padding:23px ;
    
   }
   .search_box::placeholder{
    padding: 30px;
    
}
.searchIcon{
     position: relative;
     align-self: center;
    right:  85px; 
     
}
.insideimage{
    display: flex;
    justify-content: center;
     
}


    .insideimage p{
        position: absolute;
     color: white;
     right:  350px;
     top: 35px;
     border-bottom:1px solid white ;
    }
    /* .Heading{
        position:absolute;
        top: 600px;
        margin-left: 50px;
        width: 100%;
        height: 100%;
      }
      .Heading h1{
          position:absolute;
          top: 80px;
          color:white;
          width: 100%;
      }
      
  .Heading span{
    font-size: 12px;
 }
 .Heading h6{
    width: 43%;
    font-weight: 400;
    margin-top: 10px;
 } */
 
.playpart{
    display: flex;
    align-items: center;
    position: relative;
    top: 60px;
    
}
.playpart h6{
    position: absolute;
    left: 90px;
    color: white;
    
}
.Inspired{
    position: relative;
    top: 150px;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid #273149;
    padding: 15px ;
    width: 85%;
}
.Inspired span{
    font-size: 16px;
    color: #2d4790;
    font-weight: bold;
    
}

.HotNews{
    position: relative;
    top: 260px;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid #273149;
    padding: 15px ;
    width: 85%;
}
.HotNews span{
    font-size: 16px;
    color: #2d4790;
    font-weight: bold;
    
}
.secondcarosel{
    position: relative;
    top: 120px;
    left:45px;
    width: 100%;
}


.PopularArtist{
    position: relative;
    top: 390px;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid #273149;
    padding: 15px ;
    width: 85%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
    
   
}
.PopularArtist span{
    font-size: 16px;
    color: #2d4790;
    font-weight: bold;
    
}
.dropdown button{
    /* display: flex; */
    
    position: relative;
    bottom: 30px;
    margin: 10px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #070c16;
    border-color: #070c16;
    color:#3a465e
    
}

.thirdslider{
    position: relative;
    top:380px;
    right:70px;
    width: 100%;
    
    

    
   
     

    /* width: 100px; */
}
.bottompart{
    position: relative;
    top: 20px;
    background-color: white;
    color: antiquewhite;
    width: 150%;
    height: 100%;
}